<h1>Editing Home Owner</h1>

<%= render 'form', home_owner: @home_owner %>

<%= link_to 'Show', @home_owner, {class: 'btn btn-outline-success px-5'} %>
<%= link_to 'Back', home_owners_path, {class: 'btn btn-outline-secondary px-5'} %>
